apiVersion: apps/v1
kind: Deployment
metadata:
  name: kwetter-frontend
  labels:
    app: kwetter-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kwetter-frontend
  template:
    metadata:
      labels:
        app: kwetter-frontend
    spec:
      containers:
        - name: frontend
          image: sander1909/kwetter-frontend
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: 512Mi
              cpu: "0.5"
---            
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tweetapi
  labels:
    app: tweetapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tweetapi
  template:
    metadata:
      labels:
        app: tweetapi
    spec:
      containers:
        - name: tweetapi
          image: sander1909/tweetapi
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: 512Mi
              cpu: "0.5"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: userprofileapi
  labels:
    app: userprofileapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: userprofileapi
  template:
    metadata:
      labels:
        app: userprofileapi
    spec:
      containers:
        - name: userprofileapi
          image: sander1909/userprofileapi
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: 512Mi
              cpu: "0.5"